.pokemon-evolution {
  background: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png');
  border-radius: 5px;
  margin-bottom: 50px;
  width: 960px;
  min-height: 330px;
}
.pokemon-evolution h2 {
  font-weight: 500;
  color: #fff;
  padding: 15px 20px;
  margin: 0;
}

.evolution-profile {
  position: relative;
  overflow: auto;
}

.evolution-profile img {
  box-shadow: 0 4px 4px 0px #212121;
  background-color: #616161;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
}

.evolution-profile h3 { color: #fff; }
.evolution-profile span { color: #a4acaf}
.evolution-profile h3::first-letter {text-transform: uppercase;}

.evolution-profile .type {
  border-radius: 3px;
  width: 85px;
  height: 20px;
  margin: 0 10px 0 0px;
  display: inline-block;
}
.evolution-profile .type p {
  margin: 0 1.5625% 0 0;
  line-height: 18px;
  font-size: 11px;
}

.evolution-profile .onePokemon p {
  color: #fff;
  margin: 0;
  text-align: left;
  padding-left: 20px;
}

.evolution-profile .homeless {
  text-align: center;
}

.evolution-profile .threeEvol {
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  position: relative;
}

.evolution-profile .threeEvol .level1 li::after {
  content: "\f105";
  left: 210px;
  bottom: 150px;
}
.evolution-profile .threeEvol .level2 li::after {
  content: "\f105";
  left: 210px;
  bottom: 150px;
}

.onlyTwoPokemon {
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  position: relative;
}

.onlyTwoPokemon .level1 {
  margin-left: 180px;
}

.evolution-profile .onlyTwoPokemon .level1 li::after {
  content: "\f105";
  left: 380px;
  bottom: 130px;
}

.eevee {
  text-align: center;
}

.eevee .level1 {
  width: 300px;
  height: 250px;
  margin: 100px 0 0 30px;
  position: relative;
  display: flex;
  float: left;
}
.evolution-profile .eevee .level1 li::after {
  content: "\f105";
  left: 200px;
  bottom: 120px;
}
.eevee .level2 {
  padding: 15px 10px;
  float: left;
  display: block;
}
.eevee .level2 img {
  padding: 15px 10px;
  width: 70px;
  height: 70px;
}

.onlyTwoLevel2 {
  text-align: center;
  margin-left: 100px;
  // display: inline-block;
}
.onlyTwoLevel2 .level1 {
  width: 300px;
  // height: 400px;
  position: relative;
  margin: 200px 0 0px 100px;
  display: flex;
  float: left;
  position: relative;
}

.onlyTwoLevel2 .level2 {
  padding: 15px 10px;
  float: left;
  width: 250px;
  height: 260px;
  display: block;
}

.evolution-profile .onlyTwoLevel2 .level1 li::after {
  content: "\f105";
  left: 210px;
  bottom: 135px;
}
