.avatar {
  background-color: #F2F2F2;
}
.avatar img {
  width: 100%;
  text-align: center;
}
.collectibles-wrapper {
  text-align: center;
  align-self: center;
  width: 90%;
}
.collectibles-wrapper > div {
  display: inline-block;
  padding-right: 20px;
}
